<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="header">
        <header>
            <div class="logo">
                <span>book</span><span class="highlight">my</span><span>show</span>
            </div>
            <div class="menu">
                <div class="search-container">
                    <input type="text" placeholder="Search for Movies, Events, Plays, Sports and Activities"
                        class="search-input">

                </div>
            </div>
            <div class="dropdown-container">
                <select id="city-dropdown" class="dropdown">
                    <option value="" disabled selected>-- Rajkot --</option>
                    <option value="mumbai">Mumbai</option>
                    <option value="delhi">Delhi-NCR</option>
                    <option value="bengaluru">Bengaluru</option>
                    <option value="hyderabad">Hyderabad</option>
                    <option value="chandigarh">Chandigarh</option>
                    <option value="ahmedabad">Ahmedabad</option>
                    <option value="pune">Pune</option>
                    <option value="chennai">Chennai</option>
                    <option value="kolkata">Kolkata</option>
                    <option value="kochi">Kochi</option>
                </select>
            </div>
            <a href="/addMovie">
                <div class="button-container">
                    <button class="add-movie-button">
                        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/plus-math.png" alt="Add Icon">
                        Add Movie
                    </button>
                </div>
            </a>
        </header>
    </div>

   <br>
    <center>
        <div class="sec2">
        </div>
    </center>

    <div class="sec3">
        <div class="movies-container">
            <h2>Recommended Movies</h2>
            <div class="movie-cards">
                <a href="/singleMovie">
                    <div class="movie-card">

                        <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC40LzEwICA0MjlLIFZvdGVz,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00356724-gsglcmjwxd-portrait.jpg"
                            alt="Pushpa 2: The Rule">

                        <div class="movie-info">
                            <p class="rating">
                                <span>⭐ 8.4/10</span> 429K Votes
                            </p>
                            <h3>Pushpa 2: The Rule</h3>
                            <p class="genre">Action/Thriller</p>

                        </div>
                    </div>
                </a>

                <div class="movie-card">
                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-Ny45LzEwICBFYXJseSBSYXRpbmdz,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00419713-paygjlfgag-portrait.jpg"
                        alt="Victor 303">
                    <div class="movie-info">
                        <p class="rating">
                            <span>⭐ 7.9/10</span> Early Ratings
                        </p>
                        <h3>Victor 303</h3>
                        <p class="genre">Action/Drama</p>

                    </div>
                </div>

                <div class="movie-card">
                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC40LzEwICA1Ny4xSyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00396541-epynyumney-portrait.jpg"
                        alt="Mufasa: The Lion King">
                    <div class="movie-info">
                        <p class="rating">
                            <span>⭐ 8.4/10</span> 57.1K Votes
                        </p>
                        <h3>Mufasa: The Lion King</h3>
                        <p class="genre">Adventure/Animation/Drama</p>

                    </div>
                </div>

                <div class="movie-card">
                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC42LzEwICA4Ni44SyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00416394-jmmlluuywc-portrait.jpg"
                        alt="Marco">
                    <div class="movie-info">
                        <p class="rating">
                            <span>⭐ 8.6/10</span> 86.8K Votes
                        </p>
                        <h3>Marco</h3>
                        <p class="genre">Action/Thriller</p>

                    </div>
                </div>

                <div class="movie-card">
                    <img src="https://assets-in.bmscdn.com/discovery-catalog/events/tr:w-400,h-600,bg-CCCCCC:w-400.0,h-660.0,cm-pad_resize,bg-000000,fo-top:l-image,i-discovery-catalog@@icons@@star-icon-202203010609.png,lx-24,ly-615,w-29,l-end:l-text,ie-OC4xLzEwICA4NyBWb3Rlcw%3D%3D,fs-29,co-FFFFFF,ly-612,lx-70,pa-8_0_0_0,l-end/et00423687-vzjfnmqblz-portrait.jpg"
                        alt="Kaashi Raaghav">
                    <div class="movie-info">
                        <p class="rating">
                            <span>⭐ 8.1/10</span> 87 Votes
                        </p>
                        <h3>Kaashi Raaghav</h3>
                        <p class="genre">Drama</p>

                    </div>
                </div>

                <%data.map((e, i)=> { %>
                    <div class="movie-card">
                        <img src="<%=e.image%>" width="50%" height="50%" alt="hello">

                        <div class="movie-info">
                            <p class="rating">
                                <span>⭐ <%= e.vote %> /10</span> 87 Votes
                            </p>
                        </div>
                        <h3>
                            <%= e.name%>
                        </h3>
                        <p class="genre">
                            <%= e.genre%>
                        </p>
                        <div class="actions">
                            <button class="edit">
                                <a href="/editData?id=<%=e.id %>">Edit</a>
                            </button>
                            <button class="delete">
                                <a href="/deleteData?id=<%=e.id %>">Delete</a>
                            </button>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>





</body>

</html>